name: Build Blitz Image
on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        include:
          - name: "RaspberryPi5"
            base_image: https://downloads.raspberrypi.com/raspios_lite_arm64/images/raspios_lite_arm64-2024-07-04/2024-07-04-raspios-bookworm-arm64-lite.img.xz
            script: "pi5.sh"

    name: "Build for ${{ matrix.name }}"
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - name: Fetch tags
        run: git fetch --tags --force

      - uses: pguyot/arm-runner-action@HEAD
        id: install_deps
        with:
          image_additional_mb: 1500
          bind_mount_repository: true
          base_image: ${{ matrix.base_image }}
          commands: |
            chmod +x ./${{matrix.script}}
            ./${{ matrix.script }}
            chmod +x ./installation_common.sh
            ./installation_common.sh
            chmod +x ./installation_blitz.sh
            ./installation_blitz.sh
            chmod +x ./installation_autobahn.sh
            ./installation_autobahn.sh
            mkdir -p /opt/blitz/
            echo "${{ github.ref_name }};${{ matrix.name }}" > /opt/blitz/image-version
      - name: Compress built image
        run: |
          mv ${{ steps.install_deps.outputs.image }} blitz_${{ matrix.name }}.img
          sudo xz -T 0 -v blitz_${{ matrix.name }}.img
      - uses: actions/upload-artifact@v4.3.4
        with:
          name: blitz_${{ matrix.name }}.img.xz
          path: blitz_${{ matrix.name }}.img.xz
          if-no-files-found: error
          retention-days: 1
